In [1]:
import numpy as np
import pandas as pd
import datetime
from multiprocessing import Pool

In [2]:
train = pd.read_csv('Data/fraudTrain.csv')
train = train.iloc[:, 1:]

test = pd.read_csv('Data/fraudTest.csv')
test = test.iloc[:, 1:]

test_ans = test['is_fraud']
test.drop(['is_fraud'], axis = 1, inplace = True)

traintest = pd.concat([train, test])
traintest.shape

(1852394, 22)

In [3]:
train.shape

(1296675, 22)

In [4]:
train.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [5]:
for col in train.columns:
    print("Value Counts of ", col)
    print(train[col].value_counts())
    print('\n\n')

Value Counts of  trans_date_trans_time
2020-06-02 12:47:07    4
2019-04-22 16:02:01    4
2020-06-01 01:37:47    4
2019-01-15 06:58:17    3
2019-12-09 23:43:01    3
                      ..
2019-08-06 14:59:58    1
2019-01-27 11:39:15    1
2020-05-13 03:30:33    1
2019-11-08 22:47:24    1
2020-01-15 14:03:50    1
Name: trans_date_trans_time, Length: 1274791, dtype: int64



Value Counts of  cc_num
571365235126           3123
4512828414983801773    3123
36722699017270         3119
213112402583773        3117
3545109339866548       3113
                       ...
340187018810220           7
4975457191020             7
3545578418030657          7
4734310647841293          7
4714017207228610634       7
Name: cc_num, Length: 983, dtype: int64



Value Counts of  merchant
fraud_Kilback LLC                       4403
fraud_Cormier LLC                       3649
fraud_Schumm PLC                        3634
fraud_Kuhn LLC                          3510
fraud_Boyer PLC                         3493
                                        ...
fraud_Douglas, DuBuque and McKenzie      775
fraud_Treutel-King                       775
fraud_Medhurst, Labadie and Gottlieb     759
fraud_Reichert-Weissnat                  753
fraud_Hahn, Douglas and Schowalter       727
Name: merchant, Length: 693, dtype: int64



Value Counts of  category
gas_transport     131659
grocery_pos       123638
home              123115
shopping_pos      116672
kids_pets         113035
shopping_net       97543
entertainment      94014
food_dining        91461
personal_care      90758
health_fitness     85879
misc_pos           79655
misc_net           63287
grocery_net        45452
travel             40507
Name: category, dtype: int64



Value Counts of  amt
1.14       542
1.04       538
1.25       535
1.02       533
1.01       523
          ...
721.54       1
765.63       1
538.87       1
1122.06      1
981.17       1
Name: amt, Length: 52928, dtype: int64



Value Counts of  first
Christopher    26669
Robert         21667
Jessica        20581
James          20039
Michael        20009
               ...
Arthur             9
Molly              8
Phyllis            8
Samantha           7
Angelica           7
Name: first, Length: 352, dtype: int64



Value Counts of  last
Smith        28794
Williams     23605
Davis        21910
Johnson      20034
Rodriguez    17394
             ...
Peterson         9
Wells            9
Strong           8
Schaefer         7
Blake            7
Name: last, Length: 481, dtype: int64



Value Counts of  gender
F    709863
M    586812
Name: gender, dtype: int64



Value Counts of  street
864 Reynolds Plains                  3123
0069 Robin Brooks Apt. 695           3123
8172 Robertson Parkways Suite 072    3119
4664 Sanchez Common Suite 930        3117
8030 Beck Motorway                   3113
                                     ...
300 Hodge Loaf                          7
3307 Ferguson Way                       7
5124 Wendy Skyway Suite 154             7
27954 Hall Mill Suite 575               7
4940 Donald Throughway Apt. 219         7
Name: street, Length: 983, dtype: int64



Value Counts of  city
Birmingham     5617
San Antonio    5130
Utica          5105
Phoenix        5075
Meridian       5060
               ...
Claypool          7
Streator          7
Norfolk           7
Chattanooga       7
Karns City        7
Name: city, Length: 894, dtype: int64



Value Counts of  state
TX    94876
NY    83501
PA    79847
CA    56360
OH    46480
MI    46154
IL    43252
FL    42671
AL    40989
MO    38403
MN    31714
AR    31127
NC    30266
WI    29368
VA    29250
SC    29190
KY    28475
IN    27580
IA    26985
OK    26671
MD    26193
GA    26063
WV    25691
NJ    24603
NE    24168
KS    22996
MS    21188
LA    20965
WY    19322
WA    18924
OR    18597
TN    17554
ME    16505
NM    16407
ND    14786
CO    13880
MA    12376
SD    12324
VT    11768
MT    11754
AZ    10770
UT    10699
NH     8278
CT     7702
NV     5607
ID     5545
DC     3613
HI     2559
AK     2120
RI      550
DE        9
Name: state, dtype: int64



Value Counts of  zip
73754    3646
34112    3613
48088    3597
82514    3527
15484    3123
         ...
61364       7
10018       7
95688       7
16041       7
46510       7
Name: zip, Length: 970, dtype: int64



Value Counts of  lat
36.3850    3646
26.1184    3613
42.5164    3597
43.0048    3527
39.8936    3123
           ...
41.1225       7
34.0066       7
29.7396       7
29.4400       7
41.0022       7
Name: lat, Length: 968, dtype: int64



Value Counts of  long
-98.0727     3646
-81.7361     3613
-82.9832     3597
-108.8964    3527
-86.2141     3123
             ...
-73.9925        7
-85.8686        7
-98.4590        7
-85.2356        7
-121.9887       7
Name: long, Length: 969, dtype: int64



Value Counts of  city_pop
606        5496
1595797    5130
1312922    5075
1766       4574
241        4533
           ...
198659        7
20133         7
1888          7
3631          7
242803        7
Name: city_pop, Length: 879, dtype: int64



Value Counts of  job
Film/video editor                 9779
Exhibition designer               9199
Naval architect                   8684
Surveyor, land/geomatics          8680
Materials engineer                8270
                                  ...
Armed forces technical officer       8
Veterinary surgeon                   8
Contracting civil engineer           7
Warehouse manager                    7
Ship broker                          7
Name: job, Length: 494, dtype: int64



Value Counts of  dob
1977-03-23    5636
1981-08-29    4636
1988-09-15    4623
1955-05-06    3661
1983-07-25    3123
              ...
1964-09-17       7
1970-06-25       7
1963-02-26       7
1960-10-28       7
1949-02-15       7
Name: dob, Length: 968, dtype: int64



Value Counts of  trans_num
bc969788517bd6dc23b090431cd916a0    1
5b4d8b96d91fe54b0d039ed964701136    1
3f0124856d8500f1a2f7689bb2731a02    1
5251890fa4a77dc6d86a6dfa0fb3e3b3    1
4562c4edc1abaf6313f3ae3b61effece    1
                                   ..
4f0ddd60a36168313cf74f6d42f591c2    1
2edf179e569f12d30fd60911f3183ff1    1
9fbcc481c41b6c2aaf9e516890fe5541    1
c7e0bbb80193e9dbf58c4fdce9ba30f1    1
d814be63f94ddacb3066a89c00828722    1
Name: trans_num, Length: 1296675, dtype: int64



Value Counts of  unix_time
1335110521    4
1370050667    4
1370177227    4
1356890388    3
1371658603    3
             ..
1348435640    1
1363299323    1
1363091124    1
1340024499    1
1367345151    1
Name: unix_time, Length: 1274823, dtype: int64



Value Counts of  merch_lat
40.557026    4
38.895098    4
41.301611    4
38.714096    4
42.011951    4
            ..
40.163049    1
42.860696    1
34.700357    1
42.021537    1
38.826764    1
Name: merch_lat, Length: 1247805, dtype: int64



Value Counts of  merch_long
-81.219189     4
-74.618269     4
-87.116414     4
-91.051844     3
-91.699352     3
              ..
-80.256526     1
-110.563968    1
-74.057065     1
-92.183762     1
-165.354810    1
Name: merch_long, Length: 1275745, dtype: int64



Value Counts of  is_fraud
0    1289169
1       7506
Name: is_fraud, dtype: int64

- Maybe treat it like an anomaly detection problem instead of a regular classification problem
- Get time of the day, check for office hours
- Check for weekend buying
- Which generation faces more fraud?
- Drop Unix Time, cc number, transaction number

In [6]:
def get_time_details(row):
    date_time = str(row['trans_date_trans_time'])
    date, time = date_time.split(' ')
    year, month, day = date.split('-')
    hour = time.split(':')[0]
    
    row['year'] = year
    row['month'] = month
    row['day'] = day
    row['hour'] = hour
    
    return row

def apply_func(df):
    df = df.apply(get_time_details, axis = 1)
    return df

In [2]:
def parallelize_dataframe(df, func, n_cores = 10):
    df_split = np.array_split(df, n_cores)
    pool = Pool(n_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

In [8]:
train = parallelize_dataframe(train, apply_func)

In [9]:
traintest = parallelize_dataframe(traintest, apply_func)

traintest.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,year,month,day,hour
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0.0,2019,01,01,00
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0.0,2019,01,01,00
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0.0,2019,01,01,00
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0.0,2019,01,01,00
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0.0,2019,01,01,00

In [10]:
drop_cols = ['cc_num', 'trans_num', 'unix_time']

train.drop(drop_cols, axis = 1, inplace = True)
traintest.drop(drop_cols, axis = 1, inplace = True)

In [11]:
drop_cols = ['street', 'city']

train.drop(drop_cols, axis = 1, inplace = True)
traintest.drop(drop_cols, axis = 1, inplace = True)

In [12]:
train.to_csv('Data/train_mod.csv', index = False)
traintest.to_csv('Data/traintest_mod.csv', index = False)

### Reloading Data because of memory issues

In [3]:
train = pd.read_csv('Data/train_mod.csv')
traintest = pd.read_csv('Data/traintest_mod.csv')

In [4]:
day_dict = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}

def get_day_of_week(row):
    date_time = str(row['trans_date_trans_time'])
    date = date_time.split(' ')[0]
    year, month, day = date.split('-')
    
    date = datetime.datetime(int(year), int(month), int(day))
    row['DOW'] = day_dict[date.weekday()]
    
    return row

def apply_DOW_func(df):
    df = df.apply(get_day_of_week, axis = 1)
    return df

In [5]:
traintest.shape

(1852394, 21)

In [6]:
train = parallelize_dataframe(train, apply_DOW_func)

In [7]:
traintest = parallelize_dataframe(traintest, apply_DOW_func)

In [8]:
traintest.head()

,trans_date_trans_time,merchant,category,amt,first,last,gender,state,zip,lat,...,job,dob,merch_lat,merch_long,is_fraud,year,month,day,hour,DOW
0,2019-01-01 00:00:18,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,NC,28654,36.0788,...,"Psychologist, counselling",1988-03-09,36.011293,-82.048315,0.0,2019,1,1,0,Tuesday
1,2019-01-01 00:00:44,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,WA,99160,48.8878,...,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0.0,2019,1,1,0,Tuesday
2,2019-01-01 00:00:51,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,ID,83252,42.1808,...,Nature conservation officer,1962-01-19,43.150704,-112.154481,0.0,2019,1,1,0,Tuesday
3,2019-01-01 00:01:16,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,MT,59632,46.2306,...,Patent attorney,1967-01-12,47.034331,-112.561071,0.0,2019,1,1,0,Tuesday
4,2019-01-01 00:03:06,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,VA,24433,38.4207,...,Dance movement psychotherapist,1986-03-28,38.674999,-78.632459,0.0,2019,1,1,0,Tuesday

In [9]:
def get_birth_range(row):
    dob = str(row['dob'])
    year = dob.split('-')[0][2]
    row['generation'] = str(int(year)*10) + 's'
    
    return row

def apply_gen_func(df):
    df = df.apply(get_birth_range, axis = 1)
    return df

In [10]:
train = parallelize_dataframe(train, apply_gen_func)

In [ ]:
traintest = parallelize_dataframe(traintest, apply_gen_func)

In [ ]:
train.to_csv('Data/train_mod.csv', index = False)
traintest.to_csv('Data/traintest_mod.csv', index = False)